<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Start features Area -->
<section th:fragment="features" class="features-area section-gap-top" id="news">
    <div class="container">
        <div class="row feature_inner">
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-compass"></i>
                    <h4>Creative Design</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra magnfauc </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-desk"></i>
                    <h4>Experienced Style</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra magnfauc </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-bathroom"></i>
                    <h4>Product Research</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra magnfauc </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-beach"></i>
                    <h4>Affordable Price</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra magnfauc </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features Area -->
</body>
</html>